# Builds package and publishes it on npm.
# Triggered on pushes to develop, master and release branches
name: CD

on:
  push:
    branches:
      - master
      - develop
      - release-*

jobs:
  build:
    runs-on: ubuntu-24.04
    environment: upload

    permissions:
      id-token: write # Required by Akeyless
      contents: write # Allows semantic-release to create tags
      issues: write # Allows semantic-release to comment on issues
      pull-requests: write # Allows semantic-release to comment on PRs
      packages: read

    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Check out branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all branches

      - name: Install modules
        run: npm ci --ignore-scripts

      - name: Lint
        run: npm run lint
        shell: bash

      - name: Publish release
        run: npx --ignore-scripts semantic-release@25.0.2
        env:
          GH_TOKEN: ${{ github.token }}
