# Builds package and publishes it on npm.
# Triggered on pushes to develop, master and release branches
name: CD

on:
  push:
    branches:
      - master
      - develop
      - release-*

jobs:
  build:
    runs-on: ubuntu-24.04
    environment: upload

    permissions:
        id-token: write # Required by Akeyless
        contents: write
        packages: read

    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: '24'

      - name: Import Secrets
        id: import-secrets
        uses: LanceMcCarthy/akeyless-action@v5
        with:
          access-id: ${{ secrets.GH_AKEYLESS_ACCESS_ID }}
          static-secrets: |
            {
              "/WebComponents/prod/tokens/GH_TOKEN": "GH_TOKEN",
              "/WebComponents/prod/tokens/PROGRESS_NPM_REGISTRY_TOKEN": "NPM_TOKEN"
            }
          export-secrets-to-environment: false

      - name: Check out branch
        uses: actions/checkout@v6
        with:
          fetch-depth: 0 # Fetch all branches

      - name: Install modules
        run: npm ci --ignore-scripts

      - name: Lint
        run: npm run lint
        shell: bash

      - name: Publish release
        run: npx --ignore-scripts semantic-release@25.0.2
        env:
          NPM_TOKEN: ${{ steps.import-secrets.outputs.NPM_TOKEN }}
          GH_TOKEN: ${{ steps.import-secrets.outputs.GH_TOKEN }}
