# Builds package and publishes it on npm.
# Triggered on pushes to develop, master and release branches
name: CD

on:
  push:
    branches:
      - master
      - develop
      - release-*

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Check out branch
        uses: actions/checkout@v3
        with:
          fetch-depth: 0 # Fetch all branches

      - name: Install modules
        run: npm ci --ignore-scripts

      - name: Lint
        run: npm run lint

      - name: Publish release
        run: npx ci-semantic-release
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
          GH_TOKEN: ${{ secrets.GH_TOKEN }}

