# Builds the package and runs all tests.
name: CI

on:
  push:
    branches-ignore:
      - master
      - develop
      - release-*
  pull_request:
    branches-ignore:
      - master
      - develop
      - release-*

jobs:
  build:
    runs-on: ubuntu-24.04

    concurrency:
      group: ${{ github.workflow }}-${{ github.ref }}
      cancel-in-progress: true

    steps:
      - uses: actions/setup-node@v6
        with:
          node-version: "24"

      - name: Check out repository
        uses: actions/checkout@v6

      - name: Install modules
        run: npm ci --ignore-scripts

      - name: Lint
        run: npm run lint

      - name: Test
        run: npm run test
