# Publishes changes from develop to master.
#
# * Triggers the CD workflow to publish the package if needed.
# * Documentation will be published on the official site.
name: Publish

on: workflow_dispatch

jobs:
  build:
    runs-on: ubuntu-22.04

    steps:
      - name: Check out master
        uses: actions/checkout@v3
        with:
          ref: master
          fetch-depth: 0 # Fetch all branches
          token: ${{ secrets.GH_TOKEN }}

      - name: Fast-forward master to develop
        run:  |
          # TODO: Remove after first sync with master
          git checkout origin/develop -- ./tools/release-master
          ./tools/release-master

